* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
    font-family: "Inter", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    } 

span{
    color: red;
    font-weight: bold;
}

#card-cinza{
background-color: #d9d9d9;
border-radius: 17px;
max-width: 80%;
height: 100vh;

}

.radio-form1{
    margin-top: 30px;
    max-width: 80%;
    margin: 20px auto;
}

.radio-group1{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px;
    background-color: #fff; 
    border-radius: 10px; 
    padding: 20px; 
}

.radio-group1 label {
    display: flex; 
    justify-content: center;
    align-items: center; 
}
