@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Configurações gerais */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --green-color: #2D854E;
  --yellow-color: #FF8324;
  --pink-color: #EB6E8E;
  --blue-color: #337BC3;
  --dark-blue-color: #1a5c9d;
  --purple-color: #5A3168;
  --main-color: #B03648;
  --text-color: #575757;
  --text-color-light: #909090;
  --gray-color: #e2e2e2;
  --white-color: #f6f6f6;
  --black-gray-color: #2c2c2c;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--white-color);
}

main {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  min-height: calc(100vh - 100px);
}

/*=============== CARD ===============*/
.andares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container-andar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.container-andar h2 {
  font-size: 24px;
  color: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 30px;
  height: 3rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.andar {
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__content {
  margin-inline: 1.75rem;
  overflow: hidden;
}

.card__article {
  width: 300px;
  /* Remove after adding swiper js */
  border-radius: 1.25rem;
  overflow: hidden;
}

.card {
  border-radius: 25px;
  background-color: var(--gray-color);
}

.image-content,
.card-content {
  padding: 10px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20rem;
}

.image-content {
  row-gap: 5px;
  height: 13rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.image-content #nome-lab {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-gray-color);
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--blue-color);
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  position: absolute;
  right: 0;
  bottom: -40px;
  content: '';
  height: 40px;
  width: 40px;
  background-color: var(--blue-color);
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: var(--gray-color);
}

.card-image {
  position: relative;
  top: 0;
  left: 0;
  height: 150px;
  width: 90%;
  border-radius: 10px;
  background-color: var(--gray-color);
  padding: 3px;
}

.card-image .img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 4px solid var(--blue-color);
}


.description {
  font-size: 14px;
  color: var(--text-color);
  text-align: center;
}

.btn-calendario {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: var(--blue-color);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-calendario:hover {
  background-color: var(--dark-blue-color);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--blue-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--text-color);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--blue-color);
}

/*=============== RESPONSIVIDADE ===============*/

@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

@media screen and (min-width: 1120px) {
  .andar {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }
}



.card-lab {
  width: 10rem;
  height: 15rem;
  background-color: var(--gray-color);
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.card-lab span {
  width: 100%;
  height: 2rem;
  background-color: var(--blue-color);
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
}

.card-lab h3 {
  color: var(--blue-color);
}

.lab-content {
  background-color: var(--white-color);
  width: 80%;
  height: 80%;
  border-radius: 20px;
}


