@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Configurações gerais */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  --green-color: #2D854E;
  --dark-green-color: #216a3d;
  --yellow-color: #FF8324;
  --dark-yellow-color: #d26c1e;
  --pink-color: #EB6E8E;
  --dark-pink-color: #c25a74;
  --blue-color: #337BC3;
  --dark-blue-color: #1a5c9d;
  --purple-color: #5A3168;
  --dark-purple-color: #42234c;
  --main-color: #B03648;
  --text-color: #575757;
  --text-color-light: #909090;
  --gray-color: #e2e2e2;
  --white-color: #f6f6f6;
  --black-gray-color: #2c2c2c;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--white-color);
}

main {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=============== CARD ===============*/
.andares {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: calc(100vh - 150px);
  max-width: 95%;
}

.container-andar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 2rem;
  max-width: 100%;
  min-width: 99%
}

.container-andar #nome-andar {
  color: var(--white-color);
  background-color: var(--blue-color);
  text-align: center;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
}

.andar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-bottom: 1rem;
  gap: 2rem;
  overflow-x: auto;
  min-width: 79%;
  max-width: 80%;
}

.andar::-webkit-scrollbar {
  background-color: var(--white-color);
  height: 12px;
  
}

.andar::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 5px;
  cursor: grab;
}

.andar::-webkit-scrollbar-button {
  display: none;
}

.card__content {
  margin-bottom: 3rem;
}


.card-lab {
  min-width: 13rem;
  min-height: 18rem;
  background-color: var(--gray-color);
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-lab #barra-card {
  width: 100%;
  height: 1.5rem;
  background-color: var(--blue-color);
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: 0;
}

.card-lab #nome-lab {
  color: var(--blue-color);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.lab-content {
  background-color: var(--white-color);
  width: 83%;
  height: 12rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.lab-content #img-lab {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;

}

.descricao-lab {
  margin-top: 0.3rem;
  width: 100%;
  max-height: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.descricao-lab::-webkit-scrollbar {
  background-color: var(--white-color);
  width: 5px;
}

.descricao-lab::-webkit-scrollbar-thumb {
  background-color: var(--gray-color);
  border-radius: 5px
}

.descricao-lab::-webkit-scrollbar-button {
  display: none;
}

.descricao-lab ul {
  line-height: 1.5;
  font-size: 12px;
  width: 96%;
  max-height: 100%;
  line-break: anywhere;
  color: var(--text-color);
  text-align: left;
  border-radius: 0px 0px 10px 10px;
}

.btn-calendario {
  border: none;
  font-size: 14px;
  color: var(--white-color);
  width: 7rem;
  height: 2rem;
  background-color: var(--blue-color);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-calendario:hover {
  background-color: var(--dark-blue-color);
}

.nav-mobile {
  display: none;
}