:root {
    --main-color: #B03648;
    --text-color: #575757;
    --text-color-light: #909090;
    --gray-color: #e2e2e2;
    --white-color: #f6f6f6;
    --black-gray-color: #2c2c2c;
    font-family: "Inter", sans-serif;
}

@media (max-width: 1700px) {
    #icons {
        width: 8rem;
    }
}

@media (max-width: 1170px) {
    header {
        font-size: 21px;
    }

    .busca {
        width: 28rem;
        height: 2rem;
    }

    .busca img {
        width: 18px;
        height: 18px;
    }

    #pesquisa {
        height: 1.7rem;
    }

    #icons {
        gap: 4rem;
        height: 30px;
    }

    #icons i {
        font-size: 30px;
    }

    .notificacoes {
        width: 28rem;
    }

    #titulo-not {
        width: 24rem;
        font-size: 20px;
    }

    #titulo-not-1 {
        width: 24rem;
        font-size: 20px;
    }

    .pendentes {
        width: 26rem;
    }

    .aprovadas {
        width: 26rem;
    }

    .reprovadas {
        width: 26rem;
    }

    .card-pedido {
        width: 23rem;
        height: 4rem;
    }

    #txt-card-lab {
        font-size: 14px;
    }

    #txt-card-hrs {
        font-size: 14px;
    }

    #txt-card-dia {
        font-size: 14px;
    }

    #txt-card-dic {
        font-size: 14px;
    }

    .perfil {
        width: 17rem;
        min-height: 18rem;
    }

    .usuario h3 {
        font-size: 18px;
    }

    #avatar {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 20px;
    }


    .info-perfil {
        margin-top: 1.3rem;
    }

    #label {
        font-size: 15px;
    }

    #courses {
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 14px;
    }

    #email {
        margin-top: 6px;
        margin-bottom: 1.5rem;
        font-size: 14px;
    }

    .info-perfil a {
        font-size: 14px;
    }

    #titulo-ola {
        font-size: 20px;
    }
}

@media (max-width: 987px) {
    header {
        font-size: 18px;
    }

    header h1 {
        white-space: nowrap;
    }

    .busca {
        width: 26rem;
        height: 1.7rem;
        border-radius: 6px;
    }

    .busca img {
        width: 16px;
        height: 16px;
    }

    #pesquisa {
        height: 1.1rem;
        border-radius: 5px;
    }

    #icons {
        width: 6rem;
        gap: 3rem;
        height: 28px;
    }

    #icons i {
        font-size: 28px;
    }

    .notificacoes {
        width: 24rem;
    }

    #titulo-not {
        width: 20rem;
        font-size: 18px;
    }

    #titulo-not-1 {
        width: 20rem;
        font-size: 18px;
    }

    .pendentes {
        width: 22rem;
    }

    .aprovadas {
        width: 22rem;
    }

    .reprovadas {
        width: 22rem;
    }

    .card-pedido {
        width: 19rem;
        height: 3.7rem;
    }

    #txt-card-lab {
        font-size: 13px;
    }

    #txt-card-hrs {
        font-size: 13px;
    }

    #txt-card-dia {
        font-size: 13px;
    }

    #txt-card-dic {
        font-size: 13px;
    }

    .usuario h3 {
        font-size: 17px;
    }

    #avatar {
        width: 2.3rem;
        height: 2.3rem;
        font-size: 18px;
    }

    .info-perfil {
        margin-top: 1.1rem;
    }

    #label {
        font-size: 14px;
    }

    #courses {
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 13.5px;
    }

    #email {
        margin-top: 6px;
        margin-bottom: 1.5rem;
        font-size: 13.5px;
    }

    .info-perfil a {
        font-size: 13px;
    }

    #titulo-ola {
        font-size: 18px;
    }

    main h2 {
        font-size: 26px;
        margin-top: 1rem;
    }

    .card-reservas {
        padding: 1rem;
        gap: 1.5rem;
    }

    .card-reservas p {
        font-size: 20px;
    }

    .busca-2 {
        width: 50rem;
        height: 2.5rem;
    }

    .busca-2 img {
        width: 20px;
        height: 20px;
    }

    .card-reservas #btn-reserva {
        width: 13rem;
        height: 3rem;
        font-size: 20px;
    }
}

@media (max-width: 880px) {
    header {
        font-size: 14px;
        height: 80px;
    }

    .busca {
        width: 24rem;
        height: 1.6rem;
    }

    .busca img {
        width: 15px;
        height: 15px;
    }

    #pesquisa {
        height: 1rem;
    }

    #icons {
        width: 5rem;
        gap: 2.5rem;
        height: 26px;
    }

    #icons i {
        font-size: 26px;
    }
}

@media (max-width: 768px) {

    header {
        height: 80px;
    }

    main {
        padding-top: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        min-height: calc(100vh - 160px);
    }

    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        display: none;
    }

    .busca {
        display: none;
    }

    
    #icons {
        display: none;
    }

    .notificacoes {
        width: 100vw;
        max-height: calc(100vh - 130px);
        top: 100rem;
        transition: 0.3s;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: none;
    }

    .notificacoes.mostrar {
        top: 48rem;
        transition: 0.3s;
    }

    .pendentes {
        display: flex;
        flex-direction: column;
        justify-items: start;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 10rem;
        width: 20rem;
    }

    .aprovadas {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 10rem;
        width: 20rem;
        gap: 1rem;
        transition: 0.3s;
    }

    .reprovadas {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: auto;
        max-height: 10rem;
        width: 20rem;
        gap: 1rem;
        transition: 0.3s;
    }

    .perfil {
        position: absolute;
        top: 100rem;
        right: 5px;
        width: 15rem;
        min-height: 18rem;
        padding: 1rem;
        margin-top: 5px;
    }
    
    .perfil.mostrar {
        top: 72.5rem;
        transition: 0.3s;
    }

    .usuario h3 {
        font-size: 18px;
    }

    #avatar {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 20px;
    }


    .info-perfil {
        margin-top: 1.3rem;
    }

    #label {
        font-size: 15px;
    }

    #courses {
        margin-top: 6px;
        margin-bottom: 14px;
        font-size: 14px;
    }

    #email {
        margin-top: 6px;
        margin-bottom: 1.5rem;
        font-size: 14px;
    }

    .info-perfil a {
        font-size: 14px;
    }

    .nav-mobile {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--main-color);
        padding: 1rem;
        transition: 0.3s;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }

    .nav-mobile ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 28px;
        justify-content: space-around;
        transition: 0.3s;
    }

    .nav-mobile li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
    }

    .nav-mobile a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }

    .nav-mobile i {
        text-align: center;
        font-size: 28px;
        color: var(--white-color);
        cursor: pointer;
        transition: 0.2s;
    }

    #home {
        font-size: 26px;
    }

    .txt-footer {
        font-size: 14px;
        color: var(--white-color);
        position: static;
        transition: 0.3s;
    }

}


@media (max-width: 417px) {

    .busca-2 {
        width: 20rem;
        height: 1.9rem;
    }
    
    #pesquisa-2 {
        margin-left: 0.8rem;
        height: 1.5rem;
        width: 22rem;
        font-size: 16px;
    }

    main h2 {
        font-size: 23px;
        margin-top: 2.5rem;
    }

    .card-reservas #btn-reserva {
        width: 10rem;
        height: 2.5rem;
        font-size: 18px;
    }

}