@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Configurações gerais */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --main-color: #B03648;
    --text-color: #575757;
    --text-color-light: #909090;
    --gray-color: #e2e2e2;
    --white-color: #f6f6f6;
    --black-gray-color: #2c2c2c;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--white-color);
}

main {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: calc(100vh - 100px);
}

#titulo-ola {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
    transition: 0.3s;
}

.card-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}

.busca-2 {
    background-color: var(--gray-color);
    width: 60rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 5px;
    transition: 0.3s;
}

.busca-2 img {
    width: 25px;
    height: 25px;
}

#pesquisa-2 {
    margin-left: 1.5rem;
    margin-top: 1.5px;
    height: 1.9rem;
    width: 55rem;
    background-color: var(--gray-color);
    border: 0;
    font-size: 18px;
    color: var(--black-gray-color);
}

#pesquisa-2:focus {
    outline-color: var(--gray-color);
    outline-width: 2px;
    outline-style: solid;
}

.btn-limpar2 {
    height: 2rem;
    width: 2rem;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-color-light);
    cursor: pointer; 
    display: none; /* Escondido por padrão */
}

.btn-limpar2:hover {
    color: var(--black-gray-color); /* Cor mais escura ao passar o mouse */
}

main h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s;
}

.card-reservas {
    display: flex;
    width: 100%;
    min-height: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card-reservas p {
    color: var(--text-color);
    font-size: 24px;
    transition: 0.3s;
}

.card-reservas button {
    width: 15rem;
    height: 4rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border: solid 2px var(--main-color);
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* Efeito inverte as cores do botão reserva  */

.card-reservas button:hover {
    background-color: var(--white-color);
    border: solid 2px var(--main-color);
    color: var(--main-color);
    transition: all 0.2s ease;
}

.nav-mobile {
    display: none;
}