@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
/* Configurações gerais */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

:root {
    --main-color: #B03648;
    --text-color: #575757;
    --text-color-light: #909090;
    --gray-color: #e2e2e2;
    --white-color: #f6f6f6;
    --black-gray-color: #2c2c2c;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--white-color);
}

/* Cabeçalho */

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 23px;
    background-color: var(--main-color);
    color: var(--white-color);
    top: 0;
    gap: 2rem;
    z-index: 1;
    position: relative;
    /* border-bottom: solid var(--white-color) 5px; */
}

.busca {
    background-color: var(--white-color);
    width: 30rem;
    height: 2.3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 3px;
}

.busca img {
    width: 20px;
    height: 20px;
}

#pesquisa {
    margin-top: 1.5px;
    margin-left: 12px;
    height: 1.9rem;
    width: 28rem;
    background-color: var(--white-color);
    border: 0;
    font-size: 15px;
    color: var(--black-gray-color);
    border-radius: 10px;
}

#pesquisa:focus {
    outline-color: var(--white-color);
    outline-width: 2px;
    outline-style: solid;
}

.btn-limpar {
    height: 2rem;
    width: 2rem;
    background: none;
    border: none;
    font-size: 20px;
    color: var(--text-color-light);
    cursor: pointer;
    display: none; /* Escondido por padrão */
}

.btn-limpar:hover {
    color: var(--black-gray-color); /* Cor mais escura ao passar o mouse */
}

#icons {
    width: 14rem;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5rem;
}

#icons i {
    text-align: center;
    font-size: 32px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.2s;
}

#icons i:hover {
    transition: 0.2s;
    color: var(--gray-color);
}

nav {
    position: absolute;
    right: 0;
    top: -40rem;
    z-index: 0;
}

.notificacoes {
    width: 30rem;
    min-height: calc(100vh - 100px);
    position: absolute;
    background-color: var(--main-color);
    right: 0;
    top: -40rem;
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: solid 3px var(--white-color);
}

.notificacoes.mostrar {
    top: 46.25rem;
    transition: 0.3s;
}

#titulo-not {
    width: 26rem;
    display: flex;
    justify-content: start;
    align-items: start;
    color: var(--white-color);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0.9rem;
}

#titulo-not-1 {
    width: 26rem;
    display: flex;
    justify-content: start;
    align-items: start;
    color: var(--white-color);
    font-size: 22px;
    font-weight: 500;
    margin-top: 0.9rem;
    margin-bottom: 0.8rem;
}

.pendentes {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 13rem;
    width: 28rem;
    gap: 1rem;
}

.pendentes::-webkit-scrollbar {
    background-color: var(--main-color);
    width: 10px;
}

.pendentes::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 10px
}

.pendentes::-webkit-scrollbar-button {
    display: none;
}

.aprovadas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 13rem;
    width: 28rem;
    gap: 1rem;
}

.aprovadas::-webkit-scrollbar {
    background-color: var(--main-color);
    width: 10px;
}

.aprovadas::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 10px
}

.aprovadas::-webkit-scrollbar-button {
    display: none;
}

.reprovadas {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    max-height: 13rem;
    width: 28rem;
    gap: 1rem;
}

.reprovadas::-webkit-scrollbar {
    background-color: var(--main-color);
    width: 10px;
}

.reprovadas::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 10px
}

.reprovadas::-webkit-scrollbar-button {
    display: none;
}

.card-pedido {
    width: 25rem;
    height: 4.6rem;
    background-color: var(--white-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

#txt-card {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#txt-card-2 {
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}


#txt-card-lab {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}

#txt-card-hrs {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
    text-align: end;
}

#txt-card-dia {
    color: var(--main-color);
    font-weight: 600;
    font-size: 16px;
}

#txt-card-dic {
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

.perfil {
    position: absolute;
    top: -40rem;
    right: 5px;
    width: 20rem;
    height: 20rem;
    background-color: var(--gray-color);
    border: solid 2px var(--main-color);
    border-radius: 10px;
    transition: 0.3s;
    padding: 1rem;
    margin-top: 5px;
}

.perfil.mostrar {
    top: 46.25rem;
    transition: 0.3s;
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.usuario h3 {
    font-size: 20px;
    color: var(--black-gray-color);
}

#avatar {
    background-color: var(--main-color);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 24px;
    font-weight: bold;
}


.info-perfil {
    margin-top: 1.5rem;
}

#label {
    color: var(--main-color);
    font-weight: bold;
    margin-top: 10px;
}

#courses {
    color: var(--black-gray-color);
    margin-top: 8px;
    margin-bottom: 14px;
}

#email {
    color: var(--black-gray-color);
    margin-top: 8px;
    margin-bottom: 2rem;
}

.info-perfil a {
    display: block;
    color: var(--main-color);
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
}

.info-perfil a:hover {
    text-decoration: underline;
}

main {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: var(--white-color);
    min-height: calc(100vh - 100px);
}

#titulo-ola {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}

.card-pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    gap: 5rem;
}

.busca-2 {
    background-color: var(--gray-color);
    width: 60rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 5px;
}

.busca-2 img {
    width: 25px;
    height: 25px;
}

#pesquisa-2 {
    margin-left: 1.5rem;
    margin-top: 1.5px;
    height: 1.9rem;
    width: 55rem;
    background-color: var(--gray-color);
    border: 0;
    font-size: 18px;
    color: var(--black-gray-color);
}

#pesquisa-2:focus {
    outline-color: var(--gray-color);
    outline-width: 2px;
    outline-style: solid;
}

.btn-limpar2 {
    height: 2rem;
    width: 2rem;
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-color-light);
    cursor: pointer; 
    display: none; /* Escondido por padrão */
}

.btn-limpar2:hover {
    color: var(--black-gray-color); /* Cor mais escura ao passar o mouse */
}

#info {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--main-color);
    font-size: 22px;
    color: var(--white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

#info:hover {
    transition: 0.2s;
    scale: 1.1;
}

main h2 {
    margin-top: 1.5rem;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
}

.card-reservas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
}

.card-reservas p {
    color: var(--text-color);
    font-size: 25px;
}

.card-reservas button {
    width: 15rem;
    height: 4rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border: solid 2px var(--main-color);
    font-size: 25px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

/* Efeito inverte as cores do botão reserva  */

.card-reservas button:hover {
    background-color: var(--white-color);
    border: solid 2px var(--main-color);
    color: var(--main-color);
    transition: 0.2s;
}

/* Efeito que aumenta do botão reserva:  */

/* .card-reservas button:hover {
    scale: 1.05;
    transition: 0.2s;
} */