/* Estilo do título */
#titulo {
    width: auto;
    align-items: start;
    margin-top: 30px;
}

#titulo h1 {
    color: var(--red-color);
    font-size: 18px;
    font-weight: medium;
}

/* Estilo do card cinza */
#card-cinza {
    background-color: #d9d9d9;
    border-radius: 17px;
    max-width: 100%;
    margin-top: 18px;
    padding: 100px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-cinza img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/* Botão para adicionar andares 
#btn-adicionar-andar {
     Mantido vazio 
}
*/

/* Contêiner de andares */
#andares-container {
    margin-top: 30px;
}

/* 
#andares-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
} 
*/

/* Carrossel de laboratórios 
.carrossel-laboratorios {
    Mantido vazio 
}
*/

/* Estilo dos cards de laboratório */
.card-laboratorio {
    background-color: #d9d9d9;
    width: 235px;
    height: 300px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-laboratorio img {
    width: 40px;
    cursor: pointer;
}

/* Card para adicionar laboratório 
.card-adicionar-lab {
     Mantido vazio
}
*/